[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-literate-nav = "*"
mkdocs-section-index = "*"
colorama = "*"

[dev-packages]
networkx = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
